
body{
    background-image: linear-gradient(to left top, #0818b1, #49007f, #4c0055, #3f0033, #2b031b, #220313, #160109, #000000, #000000, #000000, #000000, #000000);
    background-attachment: fixed;
    background-size: cover;
}
.imgwith{
    width: 200px;
    border-radius: 25px;
}
.bentobox{
    color: rgb(216, 216, 216);
    border-radius: 25px;
    background-image: linear-gradient(to right bottom, #190078, #3c0079, #540079, #67007a, #79007a);    overflow: hidden;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgb(158, 149, 149);
}
.buttonTransition{
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    display: block;

}

h1, h3{
    text-align: center;
}

section{
    width: 960px;
}
.formcontact{
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input , textarea{
    background-color: #49007f;
    color: rgb(171, 187, 82);
    outline: none;
    padding: 12px;
    font-size:1.2em;
    border-radius: 20px;
    text-align: center;
}

input::placeholder,textarea::placeholder{
    color: rgb(152, 153, 153);
}

input:hover,textarea:hover{
    box-shadow: 0px 2px 10px rgb(158, 149, 149);

}

.formbox{
    width: 460px;
}

.aboutme{
    width: 98.5%;
    margin: 15px 20px;
    padding: 30px;
}

#sendbutton, .otherbt{
    width: 179px;
    background-color: rgb(51, 51, 51);
    color: aliceblue;
    padding: 12px;
    border-radius: 20px;
    font-size:1.2em;
    box-shadow: 0px 2px 10px rgb(158, 149, 149);
    margin: 0 auto;

}
#sendbutton:hover, .otherbt:hover{
    background-color: #610072;
    cursor: pointer;
}


ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0;
    list-style: none;
}
li img{
    width: 50px;
    margin: 15px;
    height: 50px;
}

.proyect{
    width: 58%;
}

.mdl-modal{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carrucel */
/* Contenedor del carousel */
.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 25px;
}

/* Botones prev y next */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Contenedor de slides */
.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Cada slide */
.slide {
    min-width: 100%;
    position: relative;
    text-align: center;
}

/* Estilos para las imágenes */
.slide img {
    width: 100%;
    display: block;
}

/* Título, descripción y enlaces */
.caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    width: 85%;
}

.caption h2 {
    margin-bottom: 10px;
    margin-inline: auto;
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px 1px #610072;
    background-color: #8f8e8f62;
    width: max-content;
    border-radius: 10px;
    padding: 5px;
}

.caption p {
    margin-bottom: 10px;
    color: black;
    background-color: #8f8e8f62;
    padding: 5px;
    margin-inline: auto;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #610072;

}

.caption a {
    background-color: rgb(51, 51, 51);
    color: aliceblue;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(158, 149, 149);
    margin: 0 auto;
}

.caption a:hover {
    background-color: #610072;
    cursor: pointer;}
